@page "/"

<PageTitle>Index</PageTitle>

<h1>Esto  es un aplicativo para  validar los  boletos de entrada al  estadio Atansio Girardot!</h1>


Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
